.recipe-list {

  &__list {
    @include flex-grid-row();
    margin-top: rem-calc(65);
  }

  &__container {
    @include flex-grid-column(6);
    display: block;
    margin: 0 auto;
  }

  &__list-title {
    @include Headline($red);

    font-size: rem-calc(45);
    line-height: rem-calc(41.8);
    letter-spacing: rem-calc(0.3);
    text-align: center;
    margin-bottom: 0;
  }

  &__list-caption {
    @include captionType($black);

    text-align: center;
    margin-top: rem-calc(16);
  }

  &__card-wrapper {
    position: relative;
  }
}

@include breakpoint(large up) {

  .recipe-list {

    &__list-caption {

      &:after {
        content: "";
        display: block;
        border-top: rem-calc(7) solid $black;
        margin-bottom: rem-calc(20);
        margin-top: rem-calc(10);
      }
    }
  }
}

@include breakpoint(medium down) {

  .recipe-list {

    &__list-title {

      margin-top: rem-calc(20);

      &:after {
        content: "";
        display: block;
        border-top: rem-calc(7) solid $black;
        margin-bottom: rem-calc(20);
        margin-top: rem-calc(10);
      }
    }

    &__list-caption {
      display: none;
    }
  }

}

@include breakpoint(medium only) {

  .recipe-list {

    &__container {
      @include flex-grid-column(8);
    }
  }

  @include breakpoint(landscape) {

    .recipe-list {

      &__container {
        @include flex-grid-column(12, 0);
      }
    }
  }
}

@include breakpoint(small only) {

  .recipe-list {

    &__container {
      @include flex-grid-column(12, 0);
    }

    &__list-caption {
      display: none;
    }
  }
}