.recipe-list {

  &__list {
    @include flex-grid-row();
    margin-top: rem-calc(65);
  }

  &__container {
    @include flex-grid-column(6);
    display: block;
    margin: 0 auto;
  }

  &__list-title {
    @include Headline($red);

    font-size: rem-calc(42);
    text-align: center;
    margin-bottom: 0;
  }

  &__list-caption {
    @include captionType($black);

    text-align: center;
    border-bottom: rem-calc(1) solid $black;
  }
}