.recipe-card {
  &__card {
    position: relative;
    display: block;
    margin-bottom: rem-calc(20);
    vertical-align: text-top;

    &:after {
      content: "";
      display: block;
      border-top: rem-calc(1) solid $border-gray;
      margin-top: rem-calc(20);
      margin-left: rem-calc(5);
      margin-right: rem-calc(5);
    }
  }

  &__card-link {
    text-decoration: none;
  }

  &__text-area {
    @include flex-grid-column(8);

    position: absolute;
    left: rem-calc(190);
    top: 0;
  }

  &__card-eyebrow {
    @include captionType();
    margin: 0;
  }

  &__card-title {
    @include Title();

    margin: 0;
  }

  &__card-byline {
    @include Byline();

    margin-top: rem-calc(10);
  }

  &__favorite-button {
    @include link-transition(500ms);

    position: absolute;
    right: rem-calc(5);
    bottom: rem-calc(5);
    width: rem-calc(50);
    height: rem-calc(50);
    font-size: rem-calc(30);
    font-weight: 700;
    background-color: $white;
    border: 0;
    color: $gray;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}


@include breakpoint(small only) {

  .recipe-card {

    &__text-area {
      @include flex-grid-column(8);

      position: absolute;
      left: rem-calc(100);
      top: rem-calc(-2);
    }

    &__card-eyebrow {
      @include captionTypeMobile();
    }

    &__card-title {
      @include TitleMobile();

      margin: 0;
    }

    &__card-byline {
      @include BylineMobile();

      margin-top: rem-calc(5);
    }
  }
}