@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin Headline($color: $black) {
  color: $color;
  font-family: $chunkfive;
  font-size: rem-calc(31);
  line-height: rem-calc(34);
  font-weight: 800;
}

@mixin Title($color: $black) {
  color: $color;
  font-family: $georgia;
  font-size: rem-calc(24);
  line-height: rem-calc(26);
  font-weight: 400;
}

@mixin navType($color: $charcoal) {
  color: $color;
  font-family: $arial;
  font-size: rem-calc(11);
  text-transform: uppercase;
  line-height: rem-calc(15);
  font-weight: 400;
}

@mixin captionType($color: $charcoal) {
  color: $color;
  font-family: $georgia;
  font-size: rem-calc(11);
  text-transform: uppercase;
  line-height: rem-calc(15);
  font-weight: 400;
}

@mixin Byline($color: $black) {
  color: $color;
  font-family: $georgia;
  font-size: rem-calc(14);
  line-height: rem-calc(16);
  font-weight: 400;
}