// colors

$white: #fff;
$black: #000;
$charcoal: #666;
$gray: #ced0cb;
$lt-gray: #999;
$border-gray: #ccc;

$red: #e33d26;
$red-visited: #7d131b;

// fonts

// $chunkfive: 'chunkfive', "Arial Black", "Arial Bold", sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;